**Variables**

In [125]:
name: str = "Muhammad Awais"
print(name)

Muhammad Awais

In [126]:
name2:str = str("Awais")
print(name2)

Awais

In [127]:
bro, elder, older = "Awais", "Bilal", "Ahsan"
print(older)

Ahsan

In [128]:
a, b, c, = "Bilal", "Awais", "Umair"
name:str = ["Ahsan", "Mohsin", "Talha"]
sibling, elder, younger = name

print(elder)

Mohsin

***Lists In Python***

In [129]:
number:int = [0, 1, 2, 3, 4, 5, 6, 7, 8 ]

print(number[2:3])

[2]

In [130]:
print(number[1: ])
print(number[ :6])

[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5]

In [131]:
print(number[-2])

7

In [132]:
number.insert(8, "awais")
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 'awais', 8]

In [133]:
number.append(10)
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 'awais', 8, 10]

In [134]:
number.remove("bilal")
print(number)

ValueError: list.remove(x): x not in list

In [117]:
print(number)

[8, 10]

In [121]:
number.append(range(7))
print(number)

[8, 10, [1, 2, 3, 4, 5, 6, 7], range(0, 7), range(0, 7)]

In [140]:
for n in number:
    del n
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 'awais', 8, 10]

In [148]:
for i in range(len(number)):
    print(i, end= ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [152]:
t1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
len(t1)

t2 = (0,)

len(t2)

1

In [153]:
myDict = {
    "name": "Awais",
    "sirname": "Shafqat"
}

In [158]:
def my_function(parameter:str):
    print("Hello", parameter)

my_function("Bilal")

Hello Bilal

In [163]:
def person(**individual):
    print("ID Data:" +individual["name"])
person(name = "Muhammad Awais", sirname = "Shafqat")

ID Data:Muhammad Awais

In [168]:
def students(*name:str):
    print(name)
students("Awais", "Bilal", "Ahsan", "Mohsin", "Umair", "Talha")
students("Awais")

('Awais', 'Bilal', 'Ahsan', 'Mohsin', 'Umair', 'Talha')
('Awais',)

In [171]:
x = lambda parameter: "Hello " + parameter
print(x("Muhammad Awais"))

Hello Muhammad Awais

In [177]:
def match_maker(person1:str):
    return lambda person2: person2 + " marries " + person1

In [178]:
new_couple = match_maker("Hurmain")

In [180]:
new_couple("Elizbith")

'Elizbith marries Hurmain'

In [183]:
def match_maker_02(person3:str):
    def second_person(person4:str):
        print(person3 + " marries " +person4)
        return second_person("Shanzay")

match_maker("Usman")

In [185]:
class Dog:
    species = "dog"

In [187]:
fido = Dog()
animal = fido.species
print(animal)

dog

In [201]:
class Cat:
    def __init__(self, species:str, age:int, color:str):
        self.species = species
        self.age = age
        self.color = color
    def __str__(self):
        return f"Species: {self.species},  Age: {self.age},  Color:  {self.color}"

In [203]:
kitty = Cat("cat", 2, "white")
print(kitty)

Species: cat,  Age: 2,  Color:  white

In [209]:
class Horse:
    def __init__(self, species, name, age, color):
        self.species = species
        self.name = name
        self.age = age
        self.color = color
    
    def greetings(self):
        print(f"Hello my name is {self.name}")
    
    def __str__(self):
        return f"{self.species} has {self.color} color with {self.age} years age."

In [213]:
species = Horse("Horse","Cow", 19, "Brown")
print(species)
species.greetings()

Horse has Brown color with 19 years age.
Hello my name is Cow

In [215]:
seabiscuit = Horse("Horse", "Seabiscuit", 4, "Black")

seabiscuit.name

'Seabiscuit'

In [217]:
print(seabiscuit.color)

Black

In [218]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
    def printname(self):
        print(self.fname, self.lname)
class Student(Person):
    pass
name = Student("Muhammad", "Awais")
name.printname()

Muhammad Awais

In [2]:
try:
    print("All Good!")
except:
    print("Error Occured.")

All Good!

In [4]:
x: int = -1
if x < 0:
    raise Exception("Enter Positive Integer.")

Exception: Enter Positive Integer.

How to get User Input

In [5]:
username = input("Enter your name: ")
print(username)

Muhammad Awais